.intro h2{
  font-style: italic;
  color: green;
}
.intro p{
  font-size: 20px;
  color: grey;
}
.intro img{
  border: solid 10px black;
}
.important {
  font-weight: bold;
  color: red;
}
.unimportant {
  font-style: italic;
  color: blue;
}
